a>div {
  border: 5px solid #B0B0FF;
  border-radius: 20px;
  margin: 5px;
  width: 300px;
  background-color: #C0C0FF;
}

#links {
  display: flex;
}

.img-link {
  width: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

a {
  text-decoration: none;
}

.text-link {
  text-align: center;
  text-transform: capitalize;
  color: #6666BB;
}

html {
  background-color: #DDDDFF;
}
